.banner
{
	#font-size: 30px;
	font-size: 3.5vw;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.refresh
{
	font-size: 1.0vw;
	font-family: helvetica, sans-serif;
	text-align: center;
}

.PhotoTaken
{
        #font-size: 16pt;
	font-size: 1.6vw;
	font-family: helvetica, sans-serif;
        text-align: center;
}

.QRDownload
{
        #font-size: 14pt;
	font-size: 1.4vw;
	font-family: helvetica, sans-serif;
        text-align: center;
}
