# Config file per PhotoBooth Event

# Event Name, in the future this will be used for watermarking.
eventname=PhotoBooth Special Event
# Additional information or leave blank
eventinfo=

# Image logo, if you want one, otherwise leave blank
imagelogo=

# URL for the photos
URL=https://www.example.com/PhotoBooth/events/SomeEvent

# base directory to the event
basedir=/www/www.example.com/htdocs/PhotoBooth/events/SomeEvent

# Location of the sample photos. This is relative to the basedir
sample=Samples

# Location of the actual photos. This is relative to the basedir
photos=Photos

# Location of the QR code. This is relative to the basedir
qrcodes=qrcode

# Sample image size
samplesize=400
