# Config file per PhotoBooth Event

# Event Name, in the future this will be used for watermarking.
eventname=PhotoBooth Special Event
# Additional information or leave blank
eventinfo=

# Passcode for downloading photos
eventpasscode=

# Banner information
# Image logo, if you want one
bannertextwidth=80%
imagelogoleftwidth=10%
imagelogorightwidth=10%
imagelogoleft=
imagelogoright

# Sample image size
samplesize=400

# Watermark for the sample image, this is done at processing. this can be the same as the image logo
# This image should be about 1/4 to 1/3 the size Sample image size, if Sample size is set to 400, watermark logo size should be about 125x125
watermarkimage=

# URL for the photos
URL=https://www.example.com/PhotoBooth/events/SomeEvent

# base directory to the event
basedir=/www/www.example.com/htdocs/PhotoBooth/events/SomeEvent

# Location of the sample photos. This is relative to the basedir
sample=Samples

# Location of the actual photos. This is relative to the basedir
photos=Photos

# Location of the QR code. This is relative to the basedir
qrcodes=qrcode
