# Config file per PhotoBooth Event

########
# Watermark for the sample image, this is done at processing. this can be the same as the image logo
# This image should be about 1/4 to 1/3 the size Sample image size,

# if Sample size is set to 800 (max of 800x800 ratios will be kept), watermark logo size should be about 1/4 to 1/3 of the sample size, 250x250
# Size of 400 is probably too low of quality with files sizes in 120KB range, but looks fuzzy
# Size of 600 is probably the minimal to do and will create 240KB files and looks reasonable
# Size of 800 is pretty good without and will create 480KB files but looks better
# With Poster JPG and lazy loading of images, it is probably not that bad to use larger numbers
# Hopefully end users are using current browsers

# Upload files of around 1800x1200 @300DPI Widescreen 4x6 will create files upto 2MB
# Upload files of around 3600x2400 @600DPI Widescreen 4x6 will create files upto 8MB

watermarkimage=
#watermarkimage=Logos/event-logo.png

# URL for the photos - Make sure to include the trailing "/"
URL=https://www.example.com/PhotoBooth/Events/EventName/

# base directory to the event
basedir=/www/https/www.example.com/htdocs/PhotoBooth/Events/EventName

# Location of the sample photos. This is relative to the basedir
sample=Samples

# Location of the actual photos. This is relative to the basedir
photos=Photos

# Location of the QR code. This is relative to the basedir
qrcodes=QRcodes

# QRcode size, default is 10, which creats about 400x400 GIF image of 8KB size file
#qrsize=10

# Location of the temp space for processing attachments
tempspace=TempSpace

# Event Name, in the future this will be used for watermarking.
eventname=PhotoBooth - Event
# Additional information or leave blank
eventinfo=Dinner Party

# Additional links files
#additionallinks=Logos/additional.link
additionallinks=

# Background image, this should be a png file with the opacity set to about 25 5o 50%
#background=Logos/image.png
background=

# Passcode for downloading photos/videos
eventpasscode=
# Set the following to 1 if it is allowed (blank to not allow)
videodownloads=
photodownloads=1

# Expires after this date "YYYY-MM-DD";
#expires=2023-06-30

# Banner information
# Image width needs to add up to 100% or less
bannertextwidth=70%
fillwidth=98%
imagewidth=75%
qrwidth=25%

# Banner information
# Image logo, if you want one
# Image width needs to add up to 100% or less

# Image logo, if you want one
#imagelogoleft=Logos/event-logo.png
imagelogoleft=
imagelogoright=QRcode

# User "QRcode" if you want to load the QRcode for this site
# Use this to generate a QRcode for the page, it applies to both imagelogoleft and imagelogoright
# which will be generated (QRcodes/QRcode.gif), remove it to auto generate
#imagelogoleft=QRcode
#imagelogoright=QRcode

# Sample photo/video size
samplesize=600
videowidth=720
videoheight=480
# should be either "controls" or "controls muted"
videocontrols=controls

# Video reduction 10=1/5, 8=1/4, 6=1/3, 4=1/2
# A large file will not work well. This is NOT a streaming server, keep the size reasonable
videoreduction=8

# Display order, Photos Videos or Videos Photos or just one or the other
displayorder=Photos

###
# Web Upload
uploadenable=false
uploadusername=UploadUser
uploadpassword=UploadPassword
uploadkey=media

###
deletecode=

# JSON/XML
uploadresponse=XML

# Max upload size 8192 = 8MB, 4096 = 4MB, 2048 = 2MB, may want something just a bit bigger
# test the uploads, just in case of the slow internet upload
#uploadmaxsize=2048
uploadmaxsize=4096

##########3
